html {
  min-height: 100vh;
}

body {
  background-color: lightgrey;
  overflow-x: hidden;
}

header {
  margin: 0px;
}

main {
  margin: 0px;
  margin-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

article {
  margin: 0px;
  margin-bottom: 5vh;
  padding: 5vw;
  background-color: tan;
  overflow: hidden;
}

footer {
  margin: 0px;
  padding: 0px;
  min-height: 70px;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: white;
  line-height: 70px;
  overflow: hidden;
}

h1 {

}

h2 {

}

p {

}

.vert-nav {
  width: 20vw;
  height: 100vh;
}

.hori-nav {
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;
  padding-left: 5vw;
  overflow: hidden;
  background-color: white;
  line-height: 70px;
}

.hori-nav > * {
  padding: 0px;
  margin: 0px;
}

.nav-item {
  height: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 50px;
  font-size: 3vh;
}

.section { 
  width: 100%;
}

.section-full {
  height: 100vh;
}

.section-free {
  min-height: 20vh;
}

.index-image {
  background-image: url(/books.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
