html {
  min-height: 100vh;
}

body {
  background-color: #2c2f33;
  overflow-x: hidden;
}

header {
  margin: 0px;
}

main {
  margin: 0px;
  margin-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

article {
  margin: 0px;
  margin-bottom: 5vh;
  padding: 5vw;
  background-color: #99aab5;
  overflow: hidden;
}

footer {
  margin: 0px;
  padding: 0px;
  min-height: 70px;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #23272a;
  line-height: 70px;
  overflow: hidden;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
}

a { 
  color: #7289da;
  text-decoration: none;
}

.vert-nav {
  width: 20vw;
  height: 100vh;
  background-color: #23272a;
}

.hori-nav {
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;
  padding-left: 5vw;
  overflow: hidden;
  background-color: #23272a;
  line-height: 70px;
}

.hori-nav > * {
  padding: 0px;
  margin: 0px;
}

.nav-item {
  display: inline-block;
  height: 50px;
  height: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 50px;
  font-size: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.nav-button {
  background-color: #7289da;
  color: white;
  height: 50px;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.section { 
  width: 100%;
}

.section-full {
  height: 100vh;
}

.section-free {
  min-height: 20vh;
}

.index-image {
  background-image: url(/books.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}