<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"> -->
    <link rel="stylesheet" type="text/css" href="normalize.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Change Log | Austin Guerrero</title>
  </head>
  <body>
      <header>
        <div class="hori-nav">
          <div class="nav-item"><a href="/">Austin Guerrero</a></div>
        </div>
      </header>
      <main>
        
        <div class="section section-full">
          <article>
            <h2>Change Log</h2>
            <h3>*Planned*</h3>
            <ul>
              <li>Add page routing for cleaner URLs.</li>
              <li>Use a platform that dynamically adjusts SSL Certificates.</li>
            </ul>
            <h3>6/12/19</h3>
            <ul>
              <li>Updated the change log including recent log activity.</li>
              <li>Added footer link to the change log page.</li>
              <li>Created the change log page, copying the index.</li>
              <li>Updated page title to be a link to the index.</li>
              <li>Added view port restrictions for cleaner experience.</li>
              <li>Created a page footer with generic client social link.</li>
              <li>Updated styling on framework for vanity.</li>
              <li>Updated blog posts with generic client content.</li>
              <li>Added blog post article objects.</li>
              <li>Uploaded books.jpg background asset and added static scrolling.</li>
              <li>Downloaded and referenced normalize.css for cleaner and more consistant display.</li>
              <li>Removed extra page text.</li>
              <li>Updated Page Title</li>
              <li>Updated original page text to website title.</li>
              <li>Expanded HTML Boilerplate for basic navigation and framework.</li>
            </ul>
            <h3>6/11/19</h3>
            <ul>
              <li>Created a basic HTML boilerplate.</li>
              <li>Created index.html to house landing page.</li>
              <li>Pointed domain: <a href="http://www.austinguerrero.com">autinguerrero.com</a> to GitHub Pages.</li>
              <li>Set up GitHub Pages and created a CNAME file for <a href="http://www.austinguerrero.com">www.autinguerrero.com</a>.</li>
              <li>Created GitHub Repository: <a href="https://github.com/CaineLloyd/austinguerrero">austinguerrero</a>.</li>
            </ul>
          </article>
        </div>
      </main>
      <footer>
        <a href="https://www.facebook.com/austin.guerrero.792">Find Me On Facebook</a>
        <a href="/changelog.html">Change Log</a>
      </footer>
  </body>
</html>
